body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.form-floating label {
    color: #333;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.register-btn {
    background-color: #28a745;
    border: none;
}

.register-btn:hover {
    background-color: #0be139;
}

.admin-btn {
    background-color: transparent;
    color: #007BFF;
    border: none;
}

.admin-btn:hover {
    color: #0056b3;
}
button {
    width: 100px;
    height: 50px;
}

/* .access-grp {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
} */

.container{
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
}

.modal-header{
    background-color: #8232ad;
    color: #fff;
    height:95px;
    width: 100%;
}

.navbar-title {
    display: flex;
    align-items: center;
}

.vertical-divider {
    width: 2px;
    height: 30px;
    background-color: #fff;
    margin-left: 10px; 
}