    body {
        background-color: #f5f8fa; /* Twitter's background color */
    }

    .navbar {
        background-color: #36393f; /* Dark gray background color similar to Discord */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change the font to a more futuristic one if needed */
    }
    
    .navbar a {
        color: #7289da !important; /* Discord's theme color for links */
    }
    
    .navbar-toggler-icon {
        background-color: #7289da; /* Use Discord's theme color for the navbar toggler icon */
    }
    
    .navbar-toggler:focus {
        outline: none; /* Remove the focus outline for a cleaner appearance */
    }

    .card {
        background-color: #fff; /* White card background */
        border: 1px solid #e1e8ed; /* Similar to Twitter's card border color */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        height: 400px; /* Set a fixed height for the card body */
        overflow: hidden;
    }

    .card-img-top {
        max-height: 200px;
        object-fit:contain;
    }

    .card-title {
        font-size: 18px; /* Larger font size for card titles */
    }

    .card-text {
        color: #1c1e21; /* Dark text color */
        font-size: 16px;
    }

    .card-description {
        height: 120%; /* Set a fixed height for the description */
        overflow: hidden;
        padding: 10px; /* Add padding to make the text look nice */
    }

    .price {
        color: #e0245e;
        font-size: 18px;
        font-weight: bold;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        margin-top: 10px;
    }

    .btn-primary {
        background-color: #1da1f2; /* Similar to Twitter's primary button color */
    }
    
    .btn-primary:hover {
        background-color: #0f81c7; /* Slightly darker color on hover */
    }
    
    .btn-danger {
        background-color: #e0245e; /* Twitter's brand color for danger */
    }
    
    .btn-danger:hover {
        background-color: #b8194a; /* Slightly darker color on hover */
    }